In [1]:
import pandas as pd
from pathlib import Path
import yfinance as yf
%matplotlib inline

In [2]:
#Read Data#

dax = yf.Ticker("^GDAXI")
dax_df = dax.history(period='max')
dax_df = dax_df[['Close']].rename(columns = {'Close': 'DAX'})

jkse = yf.Ticker("^JKSE")
jkse_df = jkse.history(period='max')
jkse_df = jkse_df[['Close']].rename(columns = {'Close': 'JKSE'})

ftse = yf.Ticker("^FTLC")
ftse_df = ftse.history(period='max')
ftse_df = ftse_df[['Close']].rename(columns = {'Close': 'FTSE'})

szse = yf.Ticker("399001.SZ")
szse_df = szse.history(period='max')
szse_df = szse_df[['Close']].rename(columns = {'Close': 'SZSE'})

merv = yf.Ticker("^MERV")
merv_df = merv.history(period='max')
merv_df = merv_df[['Close']].rename(columns = {'Close': 'MERV'})

bvsp = yf.Ticker("^BVSP")
bvsp_df = bvsp.history(period='max')
bvsp_df = bvsp_df[['Close']].rename(columns = {'Close': 'BVSP'})

hsi = yf.Ticker("^HSI")
hsi_df = hsi.history(period='max')
hsi_df = hsi_df[['Close']].rename(columns = {'Close': 'HSI'})

euro = yf.Ticker("^N100")
euro_df = euro.history(period='max')
euro_df = euro_df[['Close']].rename(columns = {'Close': 'EURO'})

tsx = yf.Ticker("^GSPTSE")
tsx_df = tsx.history(period='max')
tsx_df = tsx_df[['Close']].rename(columns = {'Close': 'TSX'})

bse = yf.Ticker("^BSESN")
bse_df = bse.history(period='max')
bse_df = bse_df[['Close']].rename(columns = {'Close': 'BSE'})

mxx = yf.Ticker("^MXX")
mxx_df = mxx.history(period='max')
mxx_df = mxx_df[['Close']].rename(columns = {'Close': 'MXX'})

ta = yf.Ticker("^TA125.TA")
ta_df = ta.history(period='max')
ta_df = ta_df[['Close']].rename(columns = {'Close': 'TA'})

sp500 = yf.Ticker("^GSPC")
sp500_df = sp500.history(period='max')
sp500_df = sp500_df[['Close']].rename(columns = {'Close': 'S&P 500'})

nikkei = yf.Ticker("^N225")
nikkei_df = nikkei.history(period='max')
nikkei_df = nikkei_df[['Close']].rename(columns = {'Close': 'NIKKEI'})

In [3]:
#Concat all tickers and format for later#

ticker_list = [dax_df, jkse_df, ftse_df, szse_df, merv_df, bvsp_df, hsi_df, euro_df, tsx_df, bse_df, mxx_df, ta_df, sp500_df, nikkei_df]

all_tickers_df = pd.concat(ticker_list, axis=1, join='inner')
all_tickers_df = all_tickers_df.reset_index()
all_tickers_df['Year'] = all_tickers_df['Date'].dt.year
all_tickers_df = all_tickers_df.drop(['Date'], axis=1).set_index('Year')

ticker_pct_df = all_tickers_df.groupby('Year').tail(1)
ticker_pct_df = ticker_pct_df.pct_change()

ticker_cumprod_df = (1 + ticker_pct_df).cumprod() - 1
ticker_cumprod_df.head()

,DAX,JKSE,FTSE,SZSE,MERV,BVSP,HSI,EURO,TSX,BSE,MXX,TA,S&P 500,NIKKEI
Year,,,,,,,,,,,,,,
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,-0.204262,-0.089797,-0.159940,-0.300509,-0.229775,-0.109411,-0.208617,-0.211879,-0.133109,-0.189030,0.172394,-0.190516,-0.105839,-0.222651
2002,-0.522408,0.012582,-0.367296,-0.395749,0.192352,-0.227301,-0.348001,-0.444882,-0.239857,-0.173607,0.145658,-0.287786,-0.306394,-0.375144
2003,-0.360531,0.666803,-0.248988,-0.260019,1.582801,0.532989,-0.145476,-0.376079,-0.044874,0.435677,0.641880,0.080667,-0.129599,-0.204614
2004,-0.313614,1.409602,-0.178800,-0.343779,2.327909,0.805998,-0.033819,-0.322105,0.077293,0.616799,1.427553,0.298732,-0.048092,-0.144112

In [4]:
#Read and Format gdp#

gdppath = Path("../Data/GDP.csv")
gdp_df = pd.read_csv(gdppath)
gdp_df = gdp_df.rename(columns = {"Country Name": "Year"}).set_index("Year").T
gdp_df = gdp_df.dropna()
gdp_df = gdp_df.div(100)
gdp_df.index = gdp_df.index.astype('int64')

gdp_cumprod_df = (1 + gdp_df).cumprod() - 1
gdp_cumprod_df.head()

Year,Canada,India,Israel,Mexico,Argentina,Brazil,"Hong Kong SAR, China",European Union,Germany,United Kingdom,Indonesia,China,Japan,United States,Russian Federation,United Arab Emirates
1990,0.001647,0.055335,0.073152,0.051758,-0.024672,-0.031024,0.038306,0.033702,0.052550,0.007338,0.072421,0.039071,0.048927,0.018860,-0.030000,0.183280
1991,-0.019248,0.066488,0.156065,0.096087,0.064406,-0.016373,0.097509,0.052406,0.106317,-0.003775,0.146547,0.135643,0.084774,0.017757,-0.078955,0.193457
1992,-0.010419,0.124957,0.245767,0.134900,0.148891,-0.020966,0.165938,0.064482,0.127648,0.000221,0.221044,0.297088,0.093974,0.053606,-0.212793,0.233378
1993,0.015912,0.178401,0.297052,0.156930,0.243180,0.024708,0.238240,0.058460,0.116604,0.025125,0.300368,0.476963,0.088308,0.082611,-0.281032,0.248933
1994,0.061572,0.256870,0.393395,0.214095,0.315734,0.079371,0.312980,0.086548,0.143381,0.064551,0.398415,0.669738,0.099116,0.126227,-0.371405,0.335061

In [5]:
#Read and format HDI Data#

hdipath = Path("../Data/Human Development Index (HDI).csv")
hdi_df = pd.read_csv(hdipath)
hdi_df = hdi_df.rename(columns = {"Country": "Year"}).set_index("Year").T
hdi_df = hdi_df.rename(columns = {"Hong Kong, China (SAR)": "Hong Kong SAR, China"})
hdi_list = ["Germany", "Indonesia", "United Kingdom", "China", "Argentina", "Brazil", "Hong Kong SAR, China", "Canada", "India", "Mexico", "Israel", "United States", "Japan"]
hdi_df = hdi_df[hdi_list]
hdi_df.index = hdi_df.index.astype('int64')

In [6]:
#Aggregate Data together#
#Agg helps with Corr with easy aligning of dates#

agg_pct_df = pd.concat([ticker_pct_df, gdp_df], join = 'inner', axis = 1)
agg_cumprod_df = pd.concat([ticker_cumprod_df, gdp_cumprod_df], join = 'inner', axis = 1)
agg_hdi_df = pd.concat([ticker_pct_df, hdi_df], join = 'inner', axis = 1)
agg_hdi_df = agg_hdi_df.apply(pd.to_numeric)

In [7]:
#Find corr between tickers and GDP#

gdp_list = ["Germany", "Indonesia", "United Kingdom", "China", "Argentina", "Brazil", "Hong Kong SAR, China", "European Union", "Canada", "India", "Mexico", "Israel", "United States", "Japan"]
tickers = ["DAX", "JKSE", "FTSE", "SZSE", "MERV", "BVSP", "HSI", "EURO", "TSX", "BSE", "MXX", "TA", "S&P 500", "NIKKEI"]

corr_gdp_ticker = []
for gdp, ticker in zip(gdp_list, tickers):
    corr = agg_pct_df[gdp].corr(agg_pct_df[ticker])
    corr_gdp_ticker.append(corr)

corr_ticker_gdp_df = pd.DataFrame(corr_gdp_ticker, columns = ['idx/gdp'])
corr_ticker_gdp_df["Country"] = gdp_list
corr_ticker_gdp_df = corr_ticker_gdp_df.set_index('Country')
corr_ticker_gdp_df

                       idx/gdp
Country
Germany              -0.176555
Indonesia            -0.012187
United Kingdom       -0.089503
China                 0.565018
Argentina            -0.101544
Brazil               -0.197965
Hong Kong SAR, China  0.130423
European Union       -0.181529
Canada               -0.035767
India                 0.663862
Mexico               -0.066505
Israel               -0.051730
United States         0.102521
Japan                 0.214660

In [8]:
#Calc and add HDI Corr#
#Removed European Union from lists#

hdi_list = ["Germany", "Indonesia", "United Kingdom", "China", "Argentina", "Brazil", "Hong Kong SAR, China", "Canada", "India", "Mexico", "Israel", "United States", "Japan"]
hdi_tickers = ["DAX", "JKSE", "FTSE", "SZSE", "MERV", "BVSP", "HSI", "TSX", "BSE", "MXX", "TA", "S&P 500", "NIKKEI"]

corr_hdi_ticker = []
for hdi, ticker in zip(hdi_list, hdi_tickers):
    corr = agg_hdi_df[hdi].corr(agg_hdi_df[ticker])
    corr_hdi_ticker.append(corr)

corr_hdi_ticker_df = pd.DataFrame(corr_hdi_ticker, columns = ['idx/hdi'])
corr_hdi_ticker_df["Country"] = hdi_list
corr_hdi_ticker_df = corr_hdi_ticker_df.set_index('Country')

corr_hdi_gdp = []
for hdi in hdi_list:
    corr = agg_hdi_df[hdi].corr(agg_pct_df[ticker])
    corr_hdi_gdp.append(corr)
    
corr_hdi_gdp_df = pd.DataFrame(corr_hdi_gdp, columns = ['gdp/hdi'])
corr_hdi_gdp_df["Country"] = hdi_list
corr_hdi_gdp_df = corr_hdi_gdp_df.set_index('Country')

In [9]:
#Join Data Frames#
agg_corr_df = pd.concat([corr_ticker_gdp_df, corr_hdi_ticker_df, corr_hdi_gdp_df], axis = 1)
agg_corr_df

C:\Users\User\anaconda3\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

                       idx/gdp   idx/hdi   gdp/hdi
Argentina            -0.101544  0.006539  0.054726
Brazil               -0.197965 -0.234781  0.176173
Canada               -0.035767 -0.009620  0.248267
China                 0.565018 -0.095411  0.158616
European Union       -0.181529       NaN       NaN
Germany              -0.176555  0.159312  0.145774
Hong Kong SAR, China  0.130423  0.042524  0.156098
India                 0.663862 -0.129893  0.162280
Indonesia            -0.012187 -0.221990  0.201352
Israel               -0.051730 -0.126894  0.143435
Japan                 0.214660  0.171630  0.171630
Mexico               -0.066505 -0.449508  0.156835
United Kingdom       -0.089503  0.143338  0.217493
United States         0.102521  0.214505  0.133122

In [10]:
#Old correlations for same day of year, new data frame for returns over year using last day of each index per year#

for i, ticker in enumerate(ticker_list):
    ticker_list[i] = ticker.reset_index()
    ticker_list[i]["Year"] = ticker_list[i].loc[:,"Date"].dt.year
    ticker_list[i] = ticker_list[i].drop(columns = ['Date'])
    ticker_list[i] = ticker_list[i].groupby('Year').tail(1)
    ticker_list[i] = ticker_list[i].set_index("Year")
    ticker_list[i] = ticker_list[i].pct_change()

new_ticker_df = pd.concat(ticker_list, join = "inner", axis = 1)
new_tickgdp_df = pd.concat([new_ticker_df, gdp_df], join = "inner", axis = 1)
new_tickhdi_df = pd.concat([new_ticker_df, hdi_df], join = 'inner', axis = 1)
new_tickhdi_df = new_tickhdi_df.apply(pd.to_numeric)

In [12]:
#Cumulative Return Between Tickers and GDP#
ticker_cumprod_df = (1 + new_ticker_df).cumprod() - 1
agg_cumprod_df = pd.concat([ticker_cumprod_df, gdp_cumprod_df], join = 'inner', axis = 1)

In [13]:
#Correaltion Between GDP and Tickers#
corr_new_gdp_ticker = []
for gdp, ticker in zip(gdp_list, tickers):
    corr = new_tickgdp_df[gdp].corr(new_tickgdp_df[ticker])
    corr_new_gdp_ticker.append(corr)

corr_new_df = pd.DataFrame(corr_new_gdp_ticker, columns = ['idx/gdp'])
corr_new_df["Country"] = gdp_list
corr_new_df = corr_new_df.set_index('Country')

In [14]:
#Correaltion Between Tickers and HDI#
corr_new_hdi_gdp = []
for hdi in hdi_list:
    corr = new_tickhdi_df[hdi].corr(new_tickgdp_df[ticker])
    corr_new_hdi_gdp.append(corr)
    
new_hdi_gdp_df = pd.DataFrame(corr_new_hdi_gdp, columns = ['gdp/hdi'])
new_hdi_gdp_df["Country"] = hdi_list
new_hdi_gdp_df = new_hdi_gdp_df.set_index('Country')

In [15]:
#Correaltion Between GDP and HDI#
corr_new_hdi_ticker = []
for hdi, ticker in zip(hdi_list, hdi_tickers):
    corr = new_tickhdi_df[hdi].corr(new_tickhdi_df[ticker])
    corr_new_hdi_ticker.append(corr)

corr_new_hdi_ticker_df = pd.DataFrame(corr_new_hdi_ticker, columns = ['idx/hdi'])
corr_new_hdi_ticker_df["Country"] = hdi_list
corr_new_hdi_ticker_df = corr_new_hdi_ticker_df.set_index('Country')

In [16]:
#Creating Correaltion Data Frame#
new_corr_df = pd.concat([corr_new_df, corr_hdi_ticker_df,  corr_hdi_gdp_df], sort=True, axis = 1)
new_corr_df

                       idx/gdp   idx/hdi   gdp/hdi
Argentina            -0.136989  0.006539  0.054726
Brazil               -0.268732 -0.234781  0.176173
Canada                0.095483 -0.009620  0.248267
China                 0.515486 -0.095411  0.158616
European Union       -0.172561       NaN       NaN
Germany              -0.133388  0.159312  0.145774
Hong Kong SAR, China  0.003289  0.042524  0.156098
India                 0.720160 -0.129893  0.162280
Indonesia            -0.265965 -0.221990  0.201352
Israel               -0.106457 -0.126894  0.143435
Japan                 0.062945  0.171630  0.171630
Mexico               -0.061319 -0.449508  0.156835
United Kingdom       -0.056102  0.143338  0.217493
United States         0.127481  0.214505  0.133122

In [17]:
#Export data to csv for further use#
corr_csv_data = new_corr_df.to_csv('../Data/CORR.csv', index = True)
hdi_csv_data = hdi_df.to_csv('../Data/HDI.csv', index = True)
pct_csv_data = gdp_df.to_csv('../Data/Clean_GDP.csv', index =True)
cumprod_csv_data = agg_cumprod_df.to_csv('../Data/cumprod.csv', index = True)
tick_csv_data = new_ticker_df.to_csv('../Data/ticker.csv', index = True)